<a href="https://colab.research.google.com/github/KimGriezmann/Bigcontest_2021/blob/master/working_space_SeongGwan/Crawl_HTS_Comparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [14]:
def create_df():

  #연도별 데이터 경로
  HTS_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS'
  Player_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수'
  Hitter_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_타자 기본'

  #단일 데이터 경로
  Team_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_팀.csv'
  Schedule_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_경기일정_2021.csv'
  val_dir = '/content/drive/MyDrive/빅콘테스트/02_평가데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_평가데이터.xlsx'
  Crawl_dir = '/content/drive/MyDrive/빅콘테스트/crawling_data.csv'

  year = [2018, 2019, 2020, 2021]

  for i in year:
    globals()['HTS_{}'.format(i)]     = pd.read_csv(HTS_dir + '_' + str(i) + '.csv', encoding='CP949')
    globals()['Player_{}'.format(i)]  = pd.read_csv(Player_dir + '_' + str(i) + '.csv', encoding='CP949')
    globals()['Hitter_{}'.format(i)]  = pd.read_csv(Hitter_dir + '_' + str(i) + '.csv', encoding='CP949')

  global Team_df, Schedule_df, val_df, Crawl_df
  Team_df = pd.read_csv(Team_dir, encoding='CP949')
  Schedule_df = pd.read_csv(Schedule_dir, encoding='CP949')
  val_df = pd.read_excel(val_dir)
  Crawl_df = pd.read_csv(Crawl_dir, index_col=0)

######################

#연도별 데이터 하나로 통합
def concat_df():
  df_list = ['HTS', 'Player', 'Hitter']

#각 칼럼이 모두 같은지 검사 후 통합
  for i in df_list:
    if ((globals()['{}_2018'.format(i)].columns == globals()['{}_2019'.format(i)].columns).all()) and ((globals()['{}_2019'.format(i)].columns == globals()['{}_2020'.format(i)].columns).all()) and \
    ((globals()['{}_2020'.format(i)].columns == globals()['{}_2021'.format(i)].columns).all()):
      globals()['{}_df'.format(i)] = pd.concat( [ globals()['{}_2018'.format(i)], globals()['{}_2019'.format(i)], globals()['{}_2020'.format(i)], globals()['{}_2021'.format(i) ] ] )

#연도별 길이의 합이 통합된 데이터의 길이와 같은지 검사
  for i in df_list:
    if len(globals()['{}_2018'.format(i)]) + len(globals()['{}_2019'.format(i)]) + len(globals()['{}_2020'.format(i)]) + len(globals()['{}_2021'.format(i)]) == len(globals()['{}_df'.format(i)]):
      print('{} is complete!'.format(i))

######################

create_df()
concat_df()

HTS is complete!
Player is complete!
Hitter is complete!

In [15]:
Crawl_df

        GYEAR  PCODE NAME T_ID POSITION  ...        LEV    REa     WPs   WPe     WPa
0        2018  60100  백창수   HH        외  ...       0.88 -0.258  93.100  95.3  -0.022
1        2018  60100  백창수   HH        외  ...       1.10  0.122  71.900  70.7   0.012
2        2018  60100  백창수   HH        외  ...       0.51 -0.117  67.400  68.8  -0.013
3        2018  60100  백창수   HH        외  ...  무사 1루 2:2  1.540   0.398  50.0  44.100
4        2018  60100  백창수   HH        외  ...       1.57 -0.833  64.100  56.1  -0.080
...       ...    ...  ...  ...      ...  ...        ...    ...     ...   ...     ...
205941   2021  79608  안치홍   LT        내  ...       0.65 -0.180  52.400  54.0  -0.016
205942   2021  79608  안치홍   LT        내  ...       1.20 -0.380  85.100  87.8  -0.027
205943   2021  79608  안치홍   LT        내  ...       0.79 -0.180  78.400  80.3  -0.019
205944   2021  79608  안치홍   LT        내  ...       2.30  0.679  84.900  77.0   0.079
205945   2021  79608  안치홍   LT        내  ...       0.16 -0.258  99.400  99.8  -0.004

[205946 rows x 19 columns]

In [16]:
HTS_df

       GYEAR           G_ID         PIT_ID  ...  HIT_RESULT PIT_VEL  STADIUM
0       2018  20180324HHWO0  180324_140436  ...         플라이  149.59       고척
1       2018  20180324HHWO0  180324_140514  ...         1루타  148.78       고척
2       2018  20180324HHWO0  180324_140647  ...         1루타  148.59       고척
3       2018  20180324HHWO0  180324_140911  ...         1루타  139.13       고척
4       2018  20180324HHWO0  180324_142050  ...        번트안타  134.07       고척
...      ...            ...            ...  ...         ...     ...      ...
17959   2021  20210711LTSS0  210711_195321  ...        땅볼아웃  137.76       대구
17960   2021  20210711LTSS0  210711_195424  ...         1루타  138.51       대구
17961   2021  20210711LTSS0  210711_195627  ...          홈런  134.10       대구
17962   2021  20210711LTSS0  210711_200047  ...          홈런  139.96       대구
17963   2021  20210711LTSS0  210711_200245  ...         플라이  137.36       대구

[120745 rows x 11 columns]

### DATE, INN 칼럼 추가

In [24]:
HTS_df['DATE'] = HTS_df['G_ID'].apply(lambda x: int(x[:8]))
Crawl_df['DATE'] = Crawl_df['day'].apply(lambda x: int(x.replace('-', '')))
Crawl_df['INN'] = Crawl_df['inn'].apply(lambda x: int(x[0]))

HTS_col = ['GYEAR', 'DATE', 'PCODE', 'T_ID', 'INN', 'HIT_VEL', 'HIT_ANG_VER', 'HIT_RESULT', 'PIT_VEL', 'PIT_ID', 'G_ID']
Crawl_col = ['GYEAR', 'DATE', 'PCODE', 'NAME', 'POSITION', 'T_ID', 'INN', 'result', 'before', 'after', 'LEV', 'REa', 'WPs', 'WPe', 'WPa', 'P', 'pitcher', 'batter', 'vs']

HTS_df = HTS_df[HTS_col]
Crawl_df = Crawl_df[Crawl_col]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
HTS_df.head()

   GYEAR      DATE  PCODE  ... PIT_VEL         PIT_ID           G_ID
0   2018  20180324  62797  ...  149.59  180324_140436  20180324HHWO0
1   2018  20180324  76753  ...  148.78  180324_140514  20180324HHWO0
2   2018  20180324  71752  ...  148.59  180324_140647  20180324HHWO0
3   2018  20180324  62700  ...  139.13  180324_140911  20180324HHWO0
4   2018  20180324  68730  ...  134.07  180324_142050  20180324HHWO0

[5 rows x 11 columns]

In [26]:
Crawl_df.head()

   GYEAR      DATE  PCODE NAME POSITION  ...     WPa    P pitcher batter  vs
0   2018  20180327  60100  백창수        외  ...  -0.022  1-0     이민호    백창수  NC
1   2018  20180328  60100  백창수        외  ...   0.012  2-3     구창모    백창수  NC
2   2018  20180328  60100  백창수        외  ...  -0.013  0-0     구창모    백창수  NC
3   2018  20180328  60100  백창수        외  ...  44.100  2-3     유원상    백창수  NC
4   2018  20180330  60100  백창수        외  ...  -0.080  0-1     김태훈    백창수  SK

[5 rows x 19 columns]

### 두 데이터 PCODE 중복여부 확인

In [27]:
tmp = HTS_df.drop_duplicates(['PCODE'], keep='first')['PCODE'].reset_index(drop=True).to_list()
tmp2 = Crawl_df.drop_duplicates(['PCODE'], keep='first')['PCODE'].reset_index(drop=True).to_list()
print(len(tmp), len(tmp2))

437 446

In [28]:
tmp3 = []
for i in tmp2:
    if i not in tmp:
        tmp3.append(i)

len(tmp3)
# 크롤링데이터에는 있고, HTS데이터에는 없는 PCODE 13개

13

In [29]:
Player_df[Player_df['PCODE'].isin(tmp3)].drop_duplicates(['PCODE'], keep='first').reset_index(drop=True)

    GYEAR  PCODE NAME T_ID POSITION  AGE_VA      MONEY
0    2018  61895  서진용   SK        투      25     6000만원
1    2018  61962  김정후   OB        투      29     3500만원
2    2018  65643  문경찬   HT        투      26     3100만원
3    2018  66643   헥터   HT        투      31  1700000달러
4    2018  67202  박유연   OB        포      19     2800만원
5    2018  67640  유승철   HT        투      20     2800만원
6    2018  68211  이승민   OB        포      23     2700만원
7    2020  50204  박지훈   OB        내      19     2700만원
8    2020  50996  박시원   NC        외      19     2700만원
9    2020  65522  김강현   LT        포      25     2700만원
10   2020  67900  김민수   NC        내      21     2700만원
11   2021  51640  권혁경   HT        포      19     3000만원
12   2021  51868  고명준   SK        내      19     3000만원

In [31]:
Crawl_df[Crawl_df['PCODE'].isin(tmp3)]
# pitcher 이름이 최종 이름으로 선택된 오류 발견

        GYEAR      DATE  PCODE NAME POSITION  ...     WPa    P pitcher batter  vs
4454     2018  20180503  61962  김정후        투  ...  -0.047  2-3     이종혁    김정후  KT
18639    2018  20180606  66643   헥터        투  ...  -0.017  2-1     심재민     헥터  KT
22781    2018  20180412  67640  유승철        투  ...   0.000  2-1     박주홍    유승철  한화
75806    2019  20190326  65643  문경찬        투  ...  -0.001  2-0     정우람    문경찬  한화
78120    2019  20190716  67202  박유연        포  ...  -0.006  2-0     김대유    박유연  KT
114625   2020  20200701  50204  박지훈        내  ...   0.000  2-2     안우진    박지훈  키움
114626   2020  20200827  50204  박지훈        내  ...  -0.004  2-3     김진성    박지훈  NC
118102   2020  20201002  50996  박시원        외  ...  -0.001  2-1     이상민    박시원  삼성
136509   2020  20200818  65522  김강현        포  ...  -0.002  2-3      권혁    김강현  두산
136510   2020  20200818  65522  김강현        포  ...  -0.000  2-2     김민규    김강현  두산
136511   2020  20200823  65522  김강현        포  ...   0.000  2-2     임현준    김강현  삼성
136512   2020  20200827  65522  김강현        포  ...   0.001  2-3     박승주    김강현  키움
143406   2020  20200904  68211  이승민        포  ...  -0.001  2-0     장필준    이승민  삼성
174763   2021  20210711  51640  권혁경        포  ...  -0.024  2-2   데스파이네    권혁경  KT
174764   2021  20210711  51640  권혁경        포  ...  -0.022  2-0   데스파이네    권혁경  KT
174765   2021  20210711  51640  권혁경        포  ...  -0.014  2-1   데스파이네    권혁경  KT
175447   2021  20210430  51868  고명준        내  ...  -0.024  2-1     미란다    고명준  두산
175448   2021  20210430  51868  고명준        내  ...  -0.003  2-3     미란다    고명준  두산
175449   2021  20210430  51868  고명준        내  ...  -0.001  2-1     김명신    고명준  두산
175450   2021  20210430  51868  고명준        내  ...  98.500  0-1     문대원    고명준  두산
177398   2021  20210626  61895  서진용        투  ...  -0.018  2-3     원종현    서진용  NC
190838   2021  20210707  67900  김민수        내  ...  -0.021  2-0     미란다    김민수  두산
190839   2021  20210707  67900  김민수        내  ...  -0.016  2-0     미란다    김민수  두산

[23 rows x 19 columns]

In [32]:
pitcher_sel_idx = []
for i in range(len(Crawl_df)):
    if Crawl_df['batter'][i] != Crawl_df['NAME'][i]:
        pitcher_sel_idx.append(i)
print(len(pitcher_sel_idx))

# batter이름이 최종 선택되지 않은 row 0개 확인

0

In [35]:
tmp4 = []
for i in tmp:
    if i not in tmp2:
        tmp4.append(i)

len(tmp4)
# 크롤링데이터에는 없고, HTS데이터에는 있는 PCODE 4개

4

In [36]:
Player_df[Player_df['PCODE'].isin(tmp4)].drop_duplicates(['PCODE'], keep='first').reset_index(drop=True)
# 개명하거나 포지션을 변경한 선수들이 대부분 + 스탯티즈에 잘못 등록되어 있음

   GYEAR  PCODE NAME T_ID POSITION  AGE_VA   MONEY
0   2018  64944  박광열   NC        포      22  3600만원
1   2018  67539  나종덕   LT        포      20  2800만원
2   2018  77462  김동욱   KT        내      30  4000만원
3   2019  63636  고장혁   HT        내      29  5000만원

In [58]:
Player_df[Player_df['NAME'] == '고장혁']

     GYEAR  PCODE NAME T_ID POSITION  AGE_VA   MONEY
133   2019  63636  고장혁   HT        내      29  5000만원
197   2020  63636  고장혁   HT        내      30  5000만원

In [64]:
Crawl_df[Crawl_df['NAME'] == '박광열']

Empty DataFrame
Columns: [GYEAR, DATE, PCODE, NAME, POSITION, T_ID, INN, result, before, after, LEV, REa, WPs, WPe, WPa, P, pitcher, batter, vs]
Index: []

In [65]:
Crawl_df[Crawl_df['NAME'] == '나종덕']

Empty DataFrame
Columns: [GYEAR, DATE, PCODE, NAME, POSITION, T_ID, INN, result, before, after, LEV, REa, WPs, WPe, WPa, P, pitcher, batter, vs]
Index: []

In [66]:
Crawl_df[Crawl_df['NAME'] == '나균안']

Empty DataFrame
Columns: [GYEAR, DATE, PCODE, NAME, POSITION, T_ID, INN, result, before, after, LEV, REa, WPs, WPe, WPa, P, pitcher, batter, vs]
Index: []

In [67]:
Crawl_df[Crawl_df['NAME'] == '김동욱']

Empty DataFrame
Columns: [GYEAR, DATE, PCODE, NAME, POSITION, T_ID, INN, result, before, after, LEV, REa, WPs, WPe, WPa, P, pitcher, batter, vs]
Index: []

In [68]:
Crawl_df[Crawl_df['NAME'] == '김동명']

Empty DataFrame
Columns: [GYEAR, DATE, PCODE, NAME, POSITION, T_ID, INN, result, before, after, LEV, REa, WPs, WPe, WPa, P, pitcher, batter, vs]
Index: []

In [62]:
Crawl_df[Crawl_df['NAME'] == '고장혁']

Empty DataFrame
Columns: [GYEAR, DATE, PCODE, NAME, POSITION, T_ID, INN, result, before, after, LEV, REa, WPs, WPe, WPa, P, pitcher, batter, vs]
Index: []

In [63]:
Crawl_df[Crawl_df['NAME'] == '고영우']

Empty DataFrame
Columns: [GYEAR, DATE, PCODE, NAME, POSITION, T_ID, INN, result, before, after, LEV, REa, WPs, WPe, WPa, P, pitcher, batter, vs]
Index: []

In [61]:
HTS_df[HTS_df['PCODE'] == 63636]

       GYEAR      DATE  PCODE  ... PIT_VEL         PIT_ID           G_ID
28055   2019  20190827  63636  ...  124.99  190827_215438  20190827SSHT0
28736   2019  20190831  63636  ...  143.48  190831_185119  20190831LTHT0
28746   2019  20190831  63636  ...  142.56  190831_192114  20190831LTHT0
28968   2019  20190901  63636  ...  115.42  190901_143221  20190901LTHT0
28984   2019  20190901  63636  ...  147.01  190901_151724  20190901LTHT0
29518   2019  20190906  63636  ...  139.39  190906_213331  20190906HTKT0
29700   2019  20190907  63636  ...  142.34  190907_193353  20190907WOHT0
29922   2019  20190908  63636  ...  137.11  190908_151229  20190908WOHT0
29938   2019  20190908  63636  ...  134.50  190908_160129  20190908WOHT0
30062   2019  20190911  63636  ...  144.51  190911_185011  20190911HTLT0
30073   2019  20190911  63636  ...  144.50  190911_192343  20190911HTLT0
30093   2019  20190911  63636  ...  121.31  190911_203635  20190911HTLT0
30269   2019  20190912  63636  ...  136.28  190912_181539  20190912HTOB0
30675   2019  20190914  63636  ...  144.04  190914_175017  20190914HTLG0
30689   2019  20190914  63636  ...  148.71  190914_182710  20190914HTLG0
31265   2019  20190917  63636  ...  137.01  190917_185756  20190917NCHT0
31274   2019  20190917  63636  ...  120.52  190917_193602  20190917NCHT0
31450   2019  20190919  63636  ...  118.16  190919_200017  20190919HTSS0
32255   2019  20190924  63636  ...  129.57  190924_191603  20190924WOHT0
32493   2019  20190926  63636  ...  123.23  190926_195455  20190926HTLT0
19980   2020  20200819  63636  ...  140.85  200819_220130  20200819HTLG0
20802   2020  20200823  63636  ...  143.59  200823_185018  20200823HTWO0
21141   2020  20200825  63636  ...  148.65  200825_194857  20200825HTOB0
21433   2020  20200826  63636  ...  140.11  200826_220330  20200826HTOB0

[24 rows x 11 columns]