<a href="https://colab.research.google.com/github/KimGriezmann/Bigcontest_2021/blob/master/working_space_SeongGwan/Crawl_HTS_Comparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [12]:
def create_df():

  #연도별 데이터 경로
  HTS_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS'
  Player_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수'
  Hitter_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_타자 기본'

  #단일 데이터 경로
  Team_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_팀.csv'
  Schedule_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_경기일정_2021.csv'
  val_dir = '/content/drive/MyDrive/빅콘테스트/02_평가데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_평가데이터.xlsx'
  Crawl_dir = '/content/drive/MyDrive/빅콘테스트/crawling_data.csv'

  year = [2018, 2019, 2020, 2021]

  for i in year:
    globals()['HTS_{}'.format(i)]     = pd.read_csv(HTS_dir + '_' + str(i) + '.csv', encoding='CP949')
    globals()['Player_{}'.format(i)]  = pd.read_csv(Player_dir + '_' + str(i) + '.csv', encoding='CP949')
    globals()['Hitter_{}'.format(i)]  = pd.read_csv(Hitter_dir + '_' + str(i) + '.csv', encoding='CP949')

  global Team_df, Schedule_df, val_df, Crawl_df
  Team_df = pd.read_csv(Team_dir, encoding='CP949')
  Schedule_df = pd.read_csv(Schedule_dir, encoding='CP949')
  val_df = pd.read_excel(val_dir)
  Crawl_df = pd.read_csv(Crawl_dir, index_col=0)

######################

#연도별 데이터 하나로 통합
def concat_df():
  df_list = ['HTS', 'Player', 'Hitter']

#각 칼럼이 모두 같은지 검사 후 통합
  for i in df_list:
    if ((globals()['{}_2018'.format(i)].columns == globals()['{}_2019'.format(i)].columns).all()) and ((globals()['{}_2019'.format(i)].columns == globals()['{}_2020'.format(i)].columns).all()) and \
    ((globals()['{}_2020'.format(i)].columns == globals()['{}_2021'.format(i)].columns).all()):
      globals()['{}_df'.format(i)] = pd.concat( [ globals()['{}_2018'.format(i)], globals()['{}_2019'.format(i)], globals()['{}_2020'.format(i)], globals()['{}_2021'.format(i) ] ] )

#연도별 길이의 합이 통합된 데이터의 길이와 같은지 검사
  for i in df_list:
    if len(globals()['{}_2018'.format(i)]) + len(globals()['{}_2019'.format(i)]) + len(globals()['{}_2020'.format(i)]) + len(globals()['{}_2021'.format(i)]) == len(globals()['{}_df'.format(i)]):
      print('{} is complete!'.format(i))

######################

create_df()
concat_df()

HTS is complete!
Player is complete!
Hitter is complete!

In [19]:
Crawl_df

        GYEAR  PCODE NAME T_ID POSITION  ...        LEV    REa     WPs   WPe     WPa
0        2018  60100  백창수   HH        외  ...       0.88 -0.258  93.100  95.3  -0.022
1        2018  60100  백창수   HH        외  ...       1.10  0.122  71.900  70.7   0.012
2        2018  60100  백창수   HH        외  ...       0.51 -0.117  67.400  68.8  -0.013
3        2018  60100  백창수   HH        외  ...  무사 1루 2:2  1.540   0.398  50.0  44.100
4        2018  60100  백창수   HH        외  ...       1.57 -0.833  64.100  56.1  -0.080
...       ...    ...  ...  ...      ...  ...        ...    ...     ...   ...     ...
207784   2021  79608  안치홍   LT        내  ...       1.07 -0.258  12.400   9.6  -0.027
207785   2021  79608  안치홍   LT        내  ...       0.50  0.276   1.800   4.5   0.027
207786   2021  79608  안치홍   LT        내  ...       1.64  1.000  67.900  76.1   0.082
207787   2021  79608  안치홍   LT        내  ...       0.30 -0.258  89.700  89.0  -0.008
207788   2021  79608  안치홍   LT        내  ...       0.31  1.168  94.700  97.1   0.023

[207789 rows x 19 columns]

In [14]:
HTS_df

       GYEAR           G_ID         PIT_ID  ...  HIT_RESULT PIT_VEL  STADIUM
0       2018  20180324HHWO0  180324_140436  ...         플라이  149.59       고척
1       2018  20180324HHWO0  180324_140514  ...         1루타  148.78       고척
2       2018  20180324HHWO0  180324_140647  ...         1루타  148.59       고척
3       2018  20180324HHWO0  180324_140911  ...         1루타  139.13       고척
4       2018  20180324HHWO0  180324_142050  ...        번트안타  134.07       고척
...      ...            ...            ...  ...         ...     ...      ...
17959   2021  20210711LTSS0  210711_195321  ...        땅볼아웃  137.76       대구
17960   2021  20210711LTSS0  210711_195424  ...         1루타  138.51       대구
17961   2021  20210711LTSS0  210711_195627  ...          홈런  134.10       대구
17962   2021  20210711LTSS0  210711_200047  ...          홈런  139.96       대구
17963   2021  20210711LTSS0  210711_200245  ...         플라이  137.36       대구

[120745 rows x 11 columns]

### DATE, INN 칼럼 추가

In [214]:
HTS_df['DATE'] = HTS_df['G_ID'].apply(lambda x: int(x[:8]))
Crawl_df['DATE'] = Crawl_df['day'].apply(lambda x: int(x.replace('-', '')))
Crawl_df['INN'] = Crawl_df['inn'].apply(lambda x: int(x[0]))

HTS_col = ['GYEAR', 'DATE', 'PCODE', 'T_ID', 'INN', 'HIT_VEL', 'HIT_ANG_VER', 'HIT_RESULT', 'PIT_VEL', 'PIT_ID', 'G_ID']
Crawl_col = ['GYEAR', 'DATE', 'PCODE', 'NAME', 'POSITION', 'T_ID', 'INN', 'result', 'before', 'after', 'LEV', 'REa', 'WPs', 'WPe', 'WPa', 'P', 'pitcher', 'vs']

HTS_df = HTS_df[HTS_col]
Crawl_df = Crawl_df[Crawl_col]

In [216]:
HTS_df.head()

   GYEAR      DATE  PCODE  ... PIT_VEL         PIT_ID           G_ID
0   2018  20180324  62797  ...  149.59  180324_140436  20180324HHWO0
1   2018  20180324  76753  ...  148.78  180324_140514  20180324HHWO0
2   2018  20180324  71752  ...  148.59  180324_140647  20180324HHWO0
3   2018  20180324  62700  ...  139.13  180324_140911  20180324HHWO0
4   2018  20180324  68730  ...  134.07  180324_142050  20180324HHWO0

[5 rows x 11 columns]

In [218]:
Crawl_df.head()

   GYEAR      DATE  PCODE NAME POSITION  ...   WPe     WPa    P pitcher  vs
0   2018  20180327  60100  백창수        외  ...  95.3  -0.022  1-0     이민호  NC
1   2018  20180328  60100  백창수        외  ...  70.7   0.012  2-3     구창모  NC
2   2018  20180328  60100  백창수        외  ...  68.8  -0.013  0-0     구창모  NC
3   2018  20180328  60100  백창수        외  ...  50.0  44.100  2-3     유원상  NC
4   2018  20180330  60100  백창수        외  ...  56.1  -0.080  0-1     김태훈  SK

[5 rows x 18 columns]

### 두 데이터 PCODE 중복여부 확인

In [163]:
tmp = HTS_df.drop_duplicates(['PCODE'], keep='first')['PCODE'].reset_index(drop=True).to_list()
tmp2 = Crawl_df.drop_duplicates(['PCODE'], keep='first')['PCODE'].reset_index(drop=True).to_list()
print(len(tmp), len(tmp2))

437 439

In [178]:
tmp3 = []
for i in tmp2:
    if i not in tmp:
        tmp3.append(i)

len(tmp3)
# 크롤링데이터에는 있고, HTS데이터에는 없는 PCODE 14개

14

In [184]:
Player_df[Player_df['PCODE'].isin(tmp3)].drop_duplicates(['PCODE'], keep='first').reset_index(drop=True)

    GYEAR  PCODE NAME T_ID POSITION  AGE_VA      MONEY
0    2018  61895  서진용   SK        투      25     6000만원
1    2018  61962  김정후   OB        투      29     3500만원
2    2018  65643  문경찬   HT        투      26     3100만원
3    2018  66504  이찬건   LT        내      22     2700만원
4    2018  66643   헥터   HT        투      31  1700000달러
5    2018  67202  박유연   OB        포      19     2800만원
6    2018  67640  유승철   HT        투      20     2800만원
7    2018  68211  이승민   OB        포      23     2700만원
8    2020  50204  박지훈   OB        내      19     2700만원
9    2020  50996  박시원   NC        외      19     2700만원
10   2020  65522  김강현   LT        포      25     2700만원
11   2020  67900  김민수   NC        내      21     2700만원
12   2021  51640  권혁경   HT        포      19     3000만원
13   2021  51868  고명준   SK        내      19     3000만원

In [186]:
Crawl_df[Crawl_df['PCODE'].isin(tmp3)].drop_duplicates(['PCODE'], keep='first').reset_index(drop=True)
# pitcher 이름이 최종 이름으로 선택된 오류 발견

    GYEAR  PCODE NAME T_ID POSITION  ...    WPs    WPe    WPa      DATE INN
0    2018  61962  김정후   OB        투  ...    0.0    0.0 -0.000  20180410   9
1    2018  66643   헥터   HT        투  ...   50.0   52.2 -0.022  20180324   1
2    2018  67640  유승철   HT        투  ...  100.0  100.0  0.000  20180325   9
3    2019  65643  문경찬   HT        투  ...   25.2   27.5 -0.023  20190323   8
4    2019  66504  이찬건   LT        내  ...   85.1   91.5 -0.064  20190901   9
5    2019  67202  박유연   OB        포  ...    0.7    0.2 -0.006  20190716   9
6    2020  50204  박지훈   OB        내  ...    0.0    0.0  0.000  20200701   8
7    2020  50996  박시원   NC        외  ...    0.2    0.1 -0.001  20201002   8
8    2020  65522  김강현   LT        포  ...    0.5    0.2 -0.002  20200818   8
9    2020  68211  이승민   OB        포  ...   99.9  100.0 -0.001  20200904   9
10   2021  51640  권혁경   HT        포  ...   52.4   50.0 -0.024  20210711   2
11   2021  51868  고명준   SK        내  ...   52.7   55.1 -0.024  20210430   2
12   2021  61895  서진용   SK        투  ...    0.0    0.0  0.000  20210407   8
13   2021  67900  김민수   NC        내  ...   50.0   54.7 -0.047  20210404   8

[14 rows x 21 columns]

In [206]:
pitcher_sel_idx = []
for i in range(len(Crawl_df)):
    if Crawl_df['batter'][i] != Crawl_df['NAME'][i]:
        pitcher_sel_idx.append(i)
print(len(pitcher_sel_idx))

# batter이름이 최종 선택되지 않은 row 3474개 확인
# pitcher의 타자기록이 있을 시 투수이름이 선택됨

3473

In [211]:
Crawl_df.iloc[pitcher_sel_idx].drop_duplicates(['pitcher'], keep='first').reset_index(drop=True)

    GYEAR  PCODE  NAME T_ID POSITION  ...    WPs    WPe    WPa      DATE INN
0    2018  61962   김정후   OB        투  ...    0.0    0.0 -0.000  20180410   9
1    2018  65618   황인준   HT        투  ...  100.0  100.0 -0.000  20180505   9
2    2018  66643    헥터   HT        투  ...   50.0   52.2 -0.022  20180324   1
3    2018  67640   유승철   HT        투  ...  100.0  100.0  0.000  20180325   9
4    2018  79130   강지광   SK        투  ...   99.9  100.0 -0.001  20180726   9
5    2019  65062   김재윤   KT        투  ...   97.1   96.9 -0.002  20190324   8
6    2019  65643   문경찬   HT        투  ...   25.2   27.5 -0.023  20190323   8
7    2019  68556   정성종   LT        투  ...   10.0    8.8  0.012  20190323   5
8    2019  69860   김성민   SK        포  ...   89.3   96.8  0.076  20190324   7
9    2020  65040   김태훈   KT        내  ...   54.8   52.6 -0.022  20200510   1
10   2020  69439  라이블리   SS        투  ...   50.0   52.2 -0.022  20200506   1
11   2021  61895   서진용   SK        투  ...    0.0    0.0  0.000  20210407   8
12   2021  67900   김민수   NC        내  ...   50.0   54.7 -0.047  20210404   8

[13 rows x 21 columns]

In [197]:
tmp4 = []
for i in tmp:
    if i not in tmp2:
        tmp4.append(i)

len(tmp4)
# 크롤링데이터에는 없고, HTS데이터에는 있는 PCODE 12개

12

In [200]:
Player_df[Player_df['PCODE'].isin(tmp4)].drop_duplicates(['PCODE'], keep='first').reset_index(drop=True)
# 개명하거나 포지션을 변경한 선수들이 대부분 + 스탯티즈에 잘못 등록되어 있음

    GYEAR  PCODE NAME T_ID POSITION  AGE_VA     MONEY
0    2018  62917  강구성   NC        외      25    2700만원
1    2018  64499  김재현   SS        내      26    7000만원
2    2018  64944  박광열   NC        포      22    3600만원
3    2018  65109  백승현   LG        내      23    3000만원
4    2018  67539  나종덕   LT        포      20    2800만원
5    2018  68906  김철호   NC        내      20    2700만원
6    2018  71752  김태균   HH        내      36  140000만원
7    2018  78517  하준호   KT        외      29    5700만원
8    2018  78753  김지열   KT        외      29    4000만원
9    2019  63636  고장혁   HT        내      29    5000만원
10   2019  66749  김주현   HH        내      25    2800만원
11   2020  50167  이주형   LG        내      19    2700만원